# SPDX-FileCopyrightText: 2026 Vadym Yemelianov (AuthorChe / VadymYem), AuthorBot integration and maintenance
# SPDX-License-Identifier: AGPL-3.0-only
# Existing upstream copyright and license notices are retained; see NOTICE.md and LICENSE.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
herokutl = "==2.1.0"
pyaes = "*"
aiofile = "==3.8.1"
aiofiles = "==24.1.0"
gitpython = "==3.1.50"
meval = "==2.5"
aiohttp_jinja2 = "==1.5"
aiohttp = "==3.8.6"
jinja2 = "==3.1.6"
requests = "==2.33.1"
aiogram = "==2.25.2"
grapheme = "==0.6.0"
emoji = ">=1.7"
werkzeug = "==2.2.3"
rsa = "==4.9"
ruamel-yaml = "==0.17.21"
certifi = ">=2024.8.30"
redis = ">=5.0,<7"

pydub = "==0.25.1"

[dev-packages]
