herokutl==2.1.0
pyaes
aiofile==3.8.1
aiofiles==24.1.0
gitpython==3.1.50
meval==2.5
aiohttp_jinja2==1.5
aiohttp==3.8.3
Jinja2==3.0.3
requests==2.32.3
aiogram==2.25.2
grapheme==0.6.0
emoji>=1.7
werkzeug==2.2.2
rsa==4.9
ruamel.yaml==0.17.21
certifi>=2024.8.30

# Python 3.8+
